<div>
  <mat-card class="display-card">
    <mat-card-header>
      <mat-card-title class="display-header">
        Grow North
      </mat-card-title>
    </mat-card-header>
    <img src="assets/grownorth.png" alt="Grow North App" class="project-display-image">
    <p>
      This is an app I made with five other programmers at Prime Academy for an awesome organization called Grow North, whose goal
      is to empower Minnesota's food and aggroculture industries by fostering connections between new businesses and estrablished
      players.
    </p>
    <ul>
      <li>
        <a href="http://grownorthdemo.herokuapp.com/" target="_blank">The Grow North App</a>
      </li>
      <li>
        <a href="https://github.com/Wally142/Grow-North-MN" target="_blank">The code</a>
      </li>
      <li>
        <a href="http://www.grownorthmn.com" target="_blank">
          Check out Grow North MN!
        </a>
      </li>
    </ul>
  </mat-card>
  <mat-card class="display-card">
    <mat-card-header>
      <mat-card-title class="display-header">
        The Snowflake Scheduling App
      </mat-card-title>
    </mat-card-header>
    <img src="assets/snowflake.png" alt="Snowflake App" class="project-display-image">
    <p>
      An app designed to simplify scheduling an event for multiple attendees, who all have gnarly schedules. Built with Node, Express,
      AngularJS, using a Mongo database and Mongoose, styled using AngularJS Material. Ask me why I called it Snowflake!
    </p>
    <ul>
      <li>
        <a href="https://snowflakeschedules.herokuapp.com" target="_blank">The app</a>
      </li>
      <li>
        <a href="https://github.com/ejk2134/snowflake" target="_blank">The code</a>
      </li>
    </ul>
  </mat-card>
  <mat-card class="display-card">
    <mat-card-header>
      <mat-card-title class="display-header">
        My Todo-List
      </mat-card-title>
    </mat-card-header>
    <img src="assets/todo.png" alt="Todo List App" class="project-display-image">
    <ul>
      <li>
        Not currently deployed
      </li>
      <li>
        <a href="https://github.com/ejk2134/todolist" target="_blank">The code</a>
      </li>
    </ul>
    <p>
      Add the things you need to do, send them to your trusty database, check them off when you're done, and delete them. Rinse,
      repeat. Enjoy all the pretty colors while you do it. Built with Node, Express, jQuery, a SQL database using Postgres,
      styled with Bootstrap.
    </p>
  </mat-card>
</div>