.display-card {
    margin: 25px;
    background: white;
    color: black;
}

.display-header {
    font-size: 28px;
}

.project-display-image {
    width: 100%;
}

#back-button {
    text-align: center;
    font-size: 20px;
}