h5 {
    margin: 15px;
}

.column {
    margin: 50px;
}

.display-card {
    margin: 25px;
    background: none;
    color: black;
}

.tab {
    overflow-y: scroll;
}

#links {
    margin: 50px;
}

#mail {
    color: green;
}

#mat-tabs {
    height: 80vh;
}

#name {
    text-align: center;
    font-size: 80px;
}