h5 {
    margin: 0 15px 50px 15px;
}

.column {
    margin: 0 25px 0 25px;
}

.display-card {
    margin: 25px;
    background: none;
    color: black;
}

.display-header {
    font-size: 28px;
}

.project-display-image {
    width: 100%;
}

.tab {
    overflow-y: scroll;
}

#links {
    margin: 50px;
}

#mail {
    color: green;
}

#mat-tabs {
    height: 90vh;
}

#name {
    text-align: center;
    font-size: 80px;
}