/* Global Styles */

/* Angular Material theme */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
    height: 95vh;
    width: 100vw;
    font-family: 'Playfair Display', serif;
}

html {
    background: linear-gradient(to bottom right, rgb(216, 215, 215), rgb(137, 149, 177));
}

/* Override annoying Angular Material built-ins */
.mat-card {
    font-family: none;
}

.mat-tab-group, mat-tab-link, .mat-tab-label {
    font-family: none;
    color: black;
    font-size: 18px;
}