/* Global Styles */

/* Angular Material theme */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
    background: linear-gradient(to bottom right, rgb(216, 215, 215), rgb(202, 211, 246));
    height: 100vh;
    width: 100vw;
    font-family: 'Playfair Display', serif;
}