h1 {
    margin: 10px 0 30px 90px;
}

#links {
    width: 80%;
    margin-top: 100px;
}

#name {
    font-size: 55px;
}

#nav {
    margin-top: 100px;
    font-size: 30px;
}

/* Nav item alignment */
#mystuff {
    margin-left: 20px;
}

#projects {
    margin-right: 20px;
}