<div id="name">
  <h5>Evan Kearney</h5>
</div>
<img width="450" alt="Headshot" src="assets/headshot.jpg" matTooltip="Me!" matTooltipPosition="left">
<div id="links" fxLayout fxLayoutAlign="space-around">
  <a href="https://www.linkedin.com/in/evan-kearney/" matTooltip="LinkedIn" target="_blank">
    <img alt="LinkedIn Logo" src="assets/linkedin.png">
  </a>
  <a href="https://github.com/ejk2134" matTooltip="GitHub" target="_blank">
    <img height="54px" alt="Github Logo" src="assets/github.png">
  </a>
  <a href="mailto:evanjkearney@gmail.com" matTooltip="email" target="_blank">
    <img style="border-radius: 10px;" height="54px" alt="Email" src="assets/mail.svg">
  </a>
</div>